[buildout]
develop = .
parts = test checker coverage-test coverage-report
find-links = http://pypi.python.org/simple/z3c.json/

[test]
recipe = zc.recipe.testrunner
eggs = z3c.jsonrpc [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/jsonrpc


[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.jsonrpc [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
